services:
    webserver:
        image: nginx:alpine
        container_name: ${PROJECT_NAME}-webserver
        env_file:
            - .env
        working_dir: /application
        networks:
            - internal
        volumes:
            - ./../:/application
            - ./sourcefiles/nginx:/etc/nginx/conf.d
        ports:
            - ${NGINX_PORT}:80

    php-fpm:
        build: sourcefiles/php-fpm
        container_name: ${PROJECT_NAME}-php-fpm
        env_file:
            - .env
        working_dir: /application
        environment:
            - PHP_WORKER_INSTALL_BCMATH=true
        volumes:
            - ./../:/application
            - ./sourcefiles/php-fpm/php-ini-overrides.ini:/usr/local/etc/php/conf.d/99-overrides.ini
        networks:
            - internal

networks:
    internal:
        driver: bridge
